.heading {
  border: 2px solid black;
  text-align: center;
  background-color: blue;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 40px;
  color: brown;
}

.searchbar {
  border: 2px solid blue;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}